body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0%;
  padding: 0%;
}

header {
  background: rgb(22, 22, 22);
  color: rgb(233, 227, 240);
  padding: 10px;
  text-align: center;
  text-decoration-style: dotted;
  font-family: "Arial Narrow Bold";

  @keyframes line {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  div {
    animation: linear 9s infinite linear;
  }
}

.proyecto01 {
    
    width: 20%;
    height: 20%;
  }

nav ul {

  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(157, 0, 172);
  text-decoration: rgb(8, 10, 10);
}

#about h2 {
    background: rgb(248, 140, 239);
    color: rgb(8, 8, 8);
    margin-top: 30px;
    text-align: center;
    font-family:  'Arial Narrow', Arial, sans-serif;

  }

#about {
  padding: 10px;
  background: rgb(255, 166, 255);
}
#about h2 {
  margin-top: 30px;
  font-family:  'Arial Narrow', Arial, sans-serif;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  width: 300px;
  padding: 20px;
  background: rgb(175, 165, 184);
  border: 1px solid rgb(192, 199, 224);
  text-align: center;
}

.proyect img {
  max-width: 100px;
  height: 500px;
}

#contact {
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 9px;
}
form input,
form textarea {
  margin-bottom: 1px;
  padding: 10px;
  font-size: 16px;
}
form input[type="submit"] {
  background: rgb(133, 106, 129);
  color: rgb(12, 11, 10);
  border: black;
  cursor: auto;
}

@media (max-width: 600px) {
  nav ul {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .gallery {
    flex-direction: row;
    align-items: end;
  }
}

